<p id="notice"><%= notice %></p>

<p>
  <strong>Performed in:</strong>
  <%= @ordinance.performed_in %>
</p>

<%= link_to 'Edit', edit_sender_ancestor_ordinance_path(@sender, @ancestor, @ordinance) %> |
<%= link_to 'Back', sender_ancestor_ordinances_path(@sender, @ancestor) %>
