<p id="notice"><%= notice %></p>

<p>
  <strong>Performed in:</strong>
  <%= @ordinance.performed_in %>
</p>

<%= link_to 'Edit', edit_ordinance_path(@ordinance) %> |
<%= link_to 'Back', ordinances_path %>
