<div class="jumbotron">
  <h1><%= icon('pagelines', 'FamilySearchControl') %></h1>
  <p>Podrá llevar junto a sus miembros el control de antepasados que se llevan al templo y las ordenanzas que se han hecho por ellos.</p>
  <p><a class="btn btn-primary btn-lg" href="http://familysearch.org/">Aprenda màs de FamilySearch</a></p>
</div>
