<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ordinance_type.name %>
</p>

<%= link_to 'Edit', edit_ordinance_type_path(@ordinance_type) %> |
<%= link_to 'Back', ordinance_types_path %>
